<section id="newNoteSection" *ngIf="note">
  <form [formGroup]="noteForm" id="form" (ngSubmit)="onSubmit()">

    <label>
      <input type="text" maxlength="60" formControlName="Title" placeholder="Title" [value]="note['title']">
    </label>
    <br>
    <label>
      <input type="text" maxlength="60" formControlName="Text" placeholder="Text" [value]="note['text']">
    </label>
    <br>
    <div formArrayName="CheckList">
      <small><strong>CheckList</strong></small><button type="button" id="btn-shift" mat-button color="primary" (click)="addCheckList()">Add New Checklist Item</button>
      <div *ngFor="let cl of CheckList.controls; let i=index">
        <div [formGroupName]="i">
          <label id="checklabel">
            <input type="text" maxlength="60" formControlName="checkListTitle" placeholder="Title" [value]="note['checkList'][i]['checkListTitle']">
          </label>

          <label>
            <mat-checkbox formControlName="checkListStatus"></mat-checkbox>
          </label>
        </div>
      </div>
    </div>

    <div formArrayName="Labels">
      <small><strong>Labels</strong></small> <button type="button" id="btn-shift" mat-button color="primary" (click)="addLabel()">Add Label</button>
      <div *ngFor="let label of Labels.controls; let i=index">
        <div [formGroupName]="i">
          <label>
            <input type="text" maxlength="60" formControlName="labelName" placeholder="Label" [value]="note['labels'][i]['labelName']">
          </label>
        </div>
      </div>
    </div>
    <label>
      <mat-checkbox id="check" type="checkbox" formControlName="isPinned"></mat-checkbox><span><small>Pin Note</small></span>
    </label>
    <button mat-button color="primary"  type="submit" form="form" value="Submit">Update</button>
  </form>
</section>

<!-- onclick="document.location.href='http://localhost:4200/notes'" -->
