
#toolbar h1 {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;

}
.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

span {
  padding: 30px;
}

span a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

