input {
  margin: 40px 20px 40px 0px;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  align-content: center;
  width: 300px;
}

.mat-raised-button {
  min-width: 60px;
  margin: auto;
  padding: 0;
}

#search {
  width: 25%;
  margin: auto;
}

#display {
  color: white;
}

#displayNotesSection {
  padding-left: 20px;
  padding-right: 20px;
  width: 40%;
  height: 40%;
}

mat-grid-tile mat-card {
  min-width: 400px;
  max-width: 500px;
  min-height: 250px;
}

#displayNotesSection {
  padding-left: 20px;
  padding-right: 20px;
}

.mat-card {
  margin: 40px 25px 20px 20px;
  min-width: 400px;
  max-width: 500px;
  min-height: 250px;
  display: inline-block;
  /* padding: 20px; */
}


mat-grid-tile mat-card mat-card-header,
mat-grid-tile mat-card mat-card-content {
  max-width: 500px;
}

.mat-card-header .mat-card-title {
  /* padding: auto; */
  font-size: 20px;
}

strong {
  padding: 20px 0px 10px 0px;
}
.mat-card-title {
  align-content: center;
  margin: 10px 0px 20px 0px;
}

/*
.mat-grid-tile .mat-grid-tile-footer .mat-icon-button {
  right: -90%;
} */

.mat-card-footer {
  padding: 10px 10px 15px 0px;
  float: right;
}

#pinned {
  margin: 0;
  margin-top: 10px;
  padding-bottom: 0;
  float: left;
}

h3 {
  padding-top: 100px;
  margin: auto;
  text-align: center;
}


